@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewBag.Title = "개발맨";
}

@using wild.Models
@model User


<form asp-controller="Home" asp-action="Index" method="post" class="form form-horizontal">
    <div class="row text-center" style="width:100%">
        <div style="width:50%; float:none; margin:0 auto">
            <div class="form-group">
                <img src="https://image.ibb.co/iKfYKx/computer.jpg" />
            </div>
            <div class="form-group">
                <div class="col-md-pull-10">
                    <input type="text" class="form-control" placeholder="Email" asp-for="Email"  />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="col-md-pull-10">
                    <input type="password" class="form-control" placeholder="PassWord" asp-for="Pass" />
                    <span class="text-danger" asp-validation-for="Pass"></span>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-danger">로그인</button>

        </div>
    </div>
</form>

<h1>testsetsetset</h1>
